$color-white: #FFFFFF;
$color-black: #000000;
$color-shading: lightgray;
$color-lightBrown: #BEAD8E;
$color-mediumBrown: #333333;
$color-mediumBrown2: #686868;
$color-darkBrown: #222222;
$color-darkBrown2: #292929;
$color-borderButtonBrown: #767676;
$color-borderButtonGray: #8585854D;
$color-borderTitle: #F1F1F1;
$color-textDark: #111111;
$color-textLightGray: #BDBDBD;
$color-textLightGray2: #C2C2C2;
$color-textGray: #777777;
$color-textGray2: #999999;
$color-textPink: #DE5777;
$color-backgroundGray: #F8F8F8;

$font-archivo: 'Archivo';
$font-oldStandardTT: 'Old Standard TT';
$font-roboto: 'Roboto';

$spaceSideDesktop: 12.5%;