.header {
  position: relative;
  background-color: #222222;
}
.header__introduction {
  display: none;
}
@media only screen and (min-width: 1000px) {
  .header__introduction {
    display: block;
    margin: 0 auto;
    padding: 1em 0 5em;
    width: 80%;
    font-family: "Roboto";
    font-size: 0.75em;
    font-weight: 400;
    color: #FFFFFF;
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 1.25em 1em 0.75em;
  background-color: #FFFFFF;
  box-shadow: 0 0.15rem 0.15rem #C2C2C2;
}
@media only screen and (min-width: 1000px) {
  .header__nav {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 15%);
    margin: 0 auto;
    padding: 1.25em 1em 1em;
    width: 80%;
    box-shadow: none;
  }
}
.header__nav__ctn-left {
  display: inline-block;
}
.header__nav__ctn-left__ctn-img {
  display: inline-block;
  vertical-align: middle;
  width: 4rem;
}
@media only screen and (min-width: 1000px) {
  .header__nav__ctn-left__ctn-img {
    width: 0rem;
  }
}
.header__nav__ctn-left__ctn-img__img {
  margin: 0 auto 0 0;
  padding: 0.5em;
  cursor: pointer;
}
.header__nav__ctn-left__ctn-img__img__hamburger {
  display: block;
}
@media only screen and (min-width: 1000px) {
  .header__nav__ctn-left__ctn-img__img__hamburger {
    display: none;
  }
}
.header__nav__ctn-left__ctn-img__img__X {
  display: none;
}
.header__nav__ctn-left__ctn-returnHome {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.header__nav__ctn-left__ctn-returnHome__icon-H {
  padding: 0.3em 0.5em;
  display: inline-block;
  vertical-align: middle;
  font-family: "Archivo";
  font-size: 1.25em;
  box-shadow: 0 0.1em 0.15em lightgray, -0.1em 0.1em 0.5em lightgray, 0.1em 0.1em 0.5em lightgray;
}
@media only screen and (min-width: 1000px) {
  .header__nav__ctn-left__ctn-returnHome__icon-H {
    padding: 0.5em 0.7em;
    font-size: 1.75em;
  }
}
.header__nav__ctn-left__ctn-returnHome__title {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
  font-family: "Archivo";
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
}
@media only screen and (min-width: 1000px) {
  .header__nav__ctn-left__ctn-returnHome__title {
    font-size: 1.2em;
  }
}
.header__nav__ctn-middle {
  position: absolute;
  top: 4.675rem;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
}
@media only screen and (min-width: 1000px) {
  .header__nav__ctn-middle {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
  }
}
.header__nav__ctn-middle__menu {
  display: none;
  flex-direction: column;
  list-style: none;
  font-family: "Archivo";
  font-size: 0.8em;
  font-weight: 700;
}
@media only screen and (min-width: 1000px) {
  .header__nav__ctn-middle__menu {
    display: flex;
    flex-direction: row;
  }
}
.header__nav__ctn-middle__menu__option {
  padding: 1.15em;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.header__nav__ctn-middle__menu__option:hover {
  color: #BDBDBD;
}
@media only screen and (min-width: 1000px) {
  .header__nav__ctn-middle__menu__option {
    margin-top: 0.7rem;
  }
}
.header__nav__ctn-right__img {
  padding: 0.4em;
  cursor: pointer;
}
@media only screen and (min-width: 1000px) {
  .header__nav__ctn-right__img {
    margin-top: 0.35rem;
    margin-right: 1rem;
    padding: 0.6em;
    border: 2px solid rgba(133, 133, 133, 0.3019607843);
  }
}

.footer__ctn-main {
  padding: 4em 1em 1em;
  background-image: url("../../media/icon/footerBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 1000px) {
  .footer__ctn-main {
    padding-right: 10em;
    padding-left: 10em;
  }
}
@media only screen and (min-width: 1000px) {
  .footer__ctn-main {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-gap: 2rem;
  }
  .footer__ctn-main__column1 {
    grid-column: 1/2;
  }
  .footer__ctn-main__column2 {
    grid-column: 2/3;
  }
  .footer__ctn-main__column3 {
    grid-column: 3/4;
  }
}
.footer__ctn-main__column1__ctn-title {
  display: flex;
  align-items: center;
}
.footer__ctn-main__column1__ctn-title__icon-H {
  padding: 0.4em 0.6em;
  font-family: "Archivo";
  font-size: 2.75em;
  color: #FFFFFF;
  background-color: #BEAD8E;
}
.footer__ctn-main__column1__ctn-title__title {
  margin-left: 1.5rem;
  font-family: "Archivo";
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
}
.footer__ctn-main__column1__text {
  margin: 3rem 0 0;
  font-family: "Archivo";
  font-size: 1em;
  line-height: 1.5em;
  color: #777777;
}
.footer__ctn-main__column1__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 3rem;
}
@media only screen and (min-width: 1000px) {
  .footer__ctn-main__column1__nav {
    margin-top: 1.5rem;
  }
}
.footer__ctn-main__column1__nav__icon {
  padding: 0.75em;
  text-align: center;
  width: 2.5rem;
  border-radius: 15%;
  color: #FFFFFF;
  background-color: #C2C2C2;
  cursor: pointer;
}
.footer__ctn-main__column1__nav__icon:hover {
  background-color: #BEAD8E;
}
.footer__ctn-main__column2__services {
  margin-top: 3rem;
}
@media only screen and (min-width: 1000px) {
  .footer__ctn-main__column2__services {
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__ctn-main__column2__services__title {
  margin-bottom: 1rem;
  font-family: "Old Standard TT";
  font-size: 1.5em;
  font-weight: 300;
}
.footer__ctn-main__column2__services__list {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  text-align: left;
  justify-content: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.footer__ctn-main__column2__services__list__option {
  padding: 1em 0;
  font-family: "Roboto";
  list-style: none;
  color: #777777;
}
.footer__ctn-main__column3__contact {
  margin-top: 3rem;
}
.footer__ctn-main__column3__contact__title {
  font-family: "Old Standard TT";
  font-size: 1.5em;
  font-weight: 300;
}
.footer__ctn-main__column3__contact__ctn-entry {
  position: relative;
  margin-top: 4rem;
  padding: 0em;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__ctn-main__column3__contact__ctn-entry__img {
  display: inline-block;
  vertical-align: top;
  padding-top: 0em;
  width: auto;
  height: auto;
}
.footer__ctn-main__column3__contact__ctn-entry__ctn-info {
  display: inline-block;
  margin: 0 0 0 1rem;
  width: 50%;
}
.footer__ctn-main__column3__contact__ctn-entry__ctn-info__title {
  margin-bottom: 0rem;
  font-family: "Old Standard TT";
  font-size: 1.4em;
  font-weight: 300;
}
.footer__ctn-main__column3__contact__ctn-entry__ctn-info__text {
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 400;
  color: #777777;
}
.footer__ctn-main__column3__contact__ctn-entry__img-arrow {
  position: absolute;
  top: 50%;
  left: 17.5rem;
}
.footer__ctn-main__column3__contact__ctn-entry {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
@media only screen and (min-width: 1000px) {
  .footer__ctn-main__column3__contact__ctn-entry {
    margin-top: 3rem;
  }
}
.footer__ctn-main__column3__contact__ctn-entry__img {
  margin-right: 0.5rem;
}
.footer__ctn-main__column3__contact__ctn-entry__ctn-info__title {
  font-weight: bold;
}
.footer__ctn-main__column3__contact__ctn-entry__ctn-info__text {
  font-size: 0.9em;
}
.footer__credits {
  padding: 1em;
  font-family: "Roboto";
  background-color: #F8F8F8;
}
@media only screen and (min-width: 1000px) {
  .footer__credits {
    padding-right: 10em;
    padding-left: 10em;
  }
}
.footer__credits__ctn-terms-policy {
  margin-top: 1rem;
}
.footer__credits__ctn-terms-policy__terms {
  display: inline-block;
}
.footer__credits__ctn-terms-policy__separator {
  display: inline-block;
  margin: 0 0.75rem;
  height: 0.9rem;
  border-left: 2px solid #000000;
}
.footer__credits__ctn-terms-policy__policy {
  display: inline-block;
}
@media only screen and (min-width: 1000px) {
  .footer__credits {
    display: flex;
    justify-content: space-between;
  }
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}

.displayFlex {
  display: flex;
}

.contact__intro {
  padding: 4em 1em 0;
  text-align: left;
  background-color: #333333;
}
.contact__intro__minor-title {
  font-family: "Archivo";
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.contact__intro__mayor-title {
  margin: 1rem 0 0;
  font-family: "Old Standard TT";
  font-size: 3.5em;
  font-weight: 400;
  color: #FFFFFF;
}
.contact__intro__location {
  margin: 2rem 0 0 auto;
  padding: 1em 0;
  text-align: center;
  width: 10rem;
  background-color: #FFFFFF;
}
.contact__intro__location__previus-location {
  display: inline-block;
  text-decoration: none;
  font-family: "Archivo";
  font-weight: 700;
  color: #000000;
  cursor: pointer;
}
.contact__intro__location__separator {
  display: inline-block;
  margin: 0 0.25rem;
  height: 0.9rem;
  border-left: 2px solid #000000;
}
.contact__intro__location__actual-location {
  display: inline-block;
  font-family: "Archivo";
  font-weight: 700;
  color: #BEAD8E;
  cursor: pointer;
}
@media only screen and (min-width: 1000px) {
  .contact__intro {
    padding-right: 12.5em;
    padding-left: 12.5em;
  }
}
@media only screen and (min-width: 1000px) {
  .contact__intro {
    padding-top: 8em;
  }
}
.contact__ctn-contacts {
  margin: 4rem 0;
  padding: 0 2em;
}
@media only screen and (min-width: 1000px) {
  .contact__ctn-contacts {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0 2rem;
  }
}
@media only screen and (min-width: 1000px) {
  .contact__ctn-contacts__ctn-entry {
    flex: 1 1 0;
  }
}
.contact__ctn-contacts__ctn-entry--01 {
  background-image: url("../../media/img/01.png");
}
.contact__ctn-contacts__ctn-entry--02 {
  background-image: url("../../media/img/02.png");
}
.contact__ctn-contacts__ctn-entry--03 {
  background-image: url("../../media/img/03.png");
}
.contact__ctn-contacts__ctn-entry {
  position: relative;
  margin-top: 5rem;
  padding: 2.5em 0;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.contact__ctn-contacts__ctn-entry__img {
  display: inline-block;
  vertical-align: top;
  padding-top: 0em;
  width: auto;
  height: auto;
}
.contact__ctn-contacts__ctn-entry__ctn-info {
  display: inline-block;
  margin: 0 0 0 1rem;
  width: 50%;
}
.contact__ctn-contacts__ctn-entry__ctn-info__title {
  margin-bottom: 1rem;
  font-family: "Old Standard TT";
  font-size: 1.4em;
  font-weight: 300;
}
.contact__ctn-contacts__ctn-entry__ctn-info__text {
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 400;
  color: #777777;
}
.contact__ctn-contacts__ctn-entry__img-arrow {
  position: absolute;
  top: 50%;
  left: 17.5rem;
}
@media only screen and (min-width: 1000px) {
  .contact__ctn-contacts__ctn-entry {
    position: relative;
    margin-top: 5rem;
    padding: 2.5em 0;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .contact__ctn-contacts__ctn-entry__img {
    display: inline-block;
    vertical-align: top;
    padding-top: 0em;
    width: auto;
    height: auto;
  }
  .contact__ctn-contacts__ctn-entry__ctn-info {
    display: inline-block;
    margin: 0 0 0 1rem;
    width: 50%;
  }
  .contact__ctn-contacts__ctn-entry__ctn-info__title {
    margin-bottom: 1rem;
    font-family: "Old Standard TT";
    font-size: 1em;
    font-weight: 300;
  }
  .contact__ctn-contacts__ctn-entry__ctn-info__text {
    font-family: "Roboto";
    font-size: 0.75em;
    font-weight: 400;
    color: #777777;
  }
  .contact__ctn-contacts__ctn-entry__img-arrow {
    position: absolute;
    top: 50%;
    left: 17.5rem;
  }
}
@media only screen and (min-width: 1000px) {
  .contact__ctn-contacts {
    padding-right: 12.5em;
    padding-left: 12.5em;
  }
}
.contact__img {
  padding: 0 1em;
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 1000px) {
  .contact__img {
    padding-right: 12.5em;
    padding-left: 12.5em;
  }
}
.contact__ctn-data {
  margin: 4rem 0;
  padding: 0 1em;
}
@media only screen and (min-width: 1000px) {
  .contact__ctn-data {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-template-rows: auto;
    margin: 6rem 0 1rem;
  }
}
.contact__ctn-data__ctn-entry {
  position: relative;
}
.contact__ctn-data__ctn-entry__data {
  margin: 1rem 0;
  padding: 1.25em 1.5em 1.25em 2.5em;
  width: 100%;
  vertical-align: top;
  font-family: "Roboto";
  font-size: 1.1em;
  border: none;
  outline: none;
  background-color: #F8F8F8;
}
.contact__ctn-data__ctn-entry__data--message {
  height: 10em;
}
@media only screen and (min-width: 1000px) {
  .contact__ctn-data__ctn-entry__data--message {
    height: 15em;
  }
}
@media only screen and (min-width: 1000px) {
  .contact__ctn-data__ctn-entry__data {
    padding-left: 3.5em;
  }
}
.contact__ctn-data__ctn-entry__img {
  position: absolute;
  top: 2.5rem;
  left: 1rem;
  transform: scale(1.25);
  pointer-events: none;
}
@media only screen and (min-width: 1000px) {
  .contact__ctn-data__ctn-entry__img {
    left: 2rem;
  }
}
@media only screen and (min-width: 1000px) {
  .contact__ctn-data__ctn-entry--name {
    margin: 0 1rem 0 4rem;
  }
  .contact__ctn-data__ctn-entry--phone {
    margin: 0 1rem 0 4rem;
  }
  .contact__ctn-data__ctn-entry--mail {
    margin: 0 4rem 0 1rem;
  }
  .contact__ctn-data__ctn-entry--subject {
    margin: 0 4rem 0 1rem;
  }
  .contact__ctn-data__ctn-entry--message {
    margin: 0 4rem;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media only screen and (min-width: 1000px) {
  .contact__ctn-data {
    padding-right: 12.5em;
    padding-left: 12.5em;
  }
}
.contact__ctn-btn {
  text-align: center;
}
.contact__ctn-btn__btn {
  margin: 0 0 4rem;
  font-family: "Archivo";
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1.75em 7.5em;
  border: none;
  color: #FFFFFF;
  background-color: #BEAD8E;
}
@media only screen and (min-width: 1000px) {
  .contact__ctn-btn__btn {
    margin: 0 0 8rem;
    font-family: "Archivo";
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1.75em 7.5em;
    border: none;
    color: #FFFFFF;
    background-color: #BEAD8E;
  }
}
@media only screen and (min-width: 1000px) {
  .contact__ctn-btn {
    padding-right: 12.5em;
    padding-left: 12.5em;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=contactStyles.css.map */