@use '../../globalVars.scss';
@use '../../layout.scss';

@use '../../mixins/introSection.scss';
@use '../../mixins/pageLocation.scss';
@use '../../mixins/contact.scss';
@use '../../mixins/defaultButton.scss';

@use './contact.scss';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
}