body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #F2F2F2;
}

.success-message {
    color: green;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    margin-bottom: 20px;
}

.activity-count {
    margin-bottom: 20px;
    font-weight: bold;
}